$border-width: 4px;

@mixin border($color: $black) {
  border: $border-width solid $color;
}

@mixin no_border() {
  border: none;
}

@mixin rounded($radius: $border-width) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
