$spacing: 18px;
$border-width: 5px;

@mixin border($color: $black) {
  border: $border-width solid $color;
}

@mixin rounded($radius: $border-width) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
