@import "border";

body, body * {
  margin:1em;
  padding:1em;
  padding-bottom:2em;
  box-sizing:border-box;
}

a, abbr, acronym, address, applet, area, b, base, basefont, bdo, big, blockquote, body, br, 
button, caption, center, cite, code, col, colgroup, dd, del, dfn, dir, div, dl, dt, em, 
fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, img, input, ins, kbd, label, legend, 
li, link, map, menu, meta, noframes, noscript, object, ol, optgroup, option, p, param, pre, q, 
s, samp, select, small, span, strike, strong, style, sub, sup, table, tbody, td, 
textarea, tfoot, th, thead, tr, tt, u, ul {
  @include black-border;
  display:block;
}

li {
  list-style:none;
  
  @include yellow-border;
}

p {
  @include blue-border;
}

/* classes */
.suppress, .suppress_all, .suppress_all * {
  margin:0;
  padding:0;
  border:none;
}

.suppress_all * {
  display:inline-block;
}

.frame-description {
  position:absolute;
  margin: -1em;
  padding: 0.25em;
}
