@import "border";
@import "color";

$spacing: 18px;
$base-width: 128px;

@mixin frame($color: $white, $text: $black) {
  @include border($color);
  @include rounded();
  & > .frame-description {
    @include base($color, $text)
  }
}

/* description */
body, body * {
  margin: $spacing;
  padding: $spacing;
  padding-right: 0.5 * $spacing;
  padding-bottom: 2 * $spacing;
  padding-left: 0.5 * $spacing;
  box-sizing:border-box;
}

a, abbr, acronym, address, applet, area, b, base, basefont, bdo, big,
blockquote, body, br, button, caption, center, cite, code, col, colgroup, dd,
del, dfn, dir, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr,
i, img, input, ins, kbd, label, legend, li, map, menu, meta, noframes, noscript,
object, ol, optgroup, option, p, param, pre, q, s, samp, select, small, span,
strike, strong, style, sub, sup, table, tbody, td, textarea, tfoot, th, thead,
tr, tt, u, ul {
  display:block;
  
  @include frame();
}

/* tag overrides */
body {
  margin: $spacing auto;
  background-color: $black;
  width: 8 * $base-width;
}
li { list-style:none; }
span { display:inline-block; width:$base-width;}

/* classes */
.suppress, .suppress_all, .suppress_all * {
  margin:0;
  padding:0;
  border:none;
}

.frame-description {
  position:absolute;
  margin-top: -($spacing + $border-width);
  margin-left: -((0.5 * $spacing) + $border-width);
  padding: 0.25em 0.5em;
  @include rounded();
  & span {
    display: inline;
  }
}

/* tag colors */
         li { @include frame($green, $white);  }
          p { @include frame($orange, $white); }
       span { @include frame($yellow, $black); }
         ul { @include frame($white, $black);  }

