@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono&v2);
@import "border";
@import "color";

$spacing: 32px;
$base-width: 128px;

@mixin frame($color: $white, $text: $black) {
  @include border($color);
  @include rounded();
  > .frame-description {
    @include base($color, $text);
  }
}

@mixin no_frame($color: $white, $text: $black) {
  padding:0;
  @include no_border();
  @include rounded();
  > .frame-description {
    margin:0;
    position:static;
    display:inline;
    margin-right: 0.25 * $spacing;
    @include base($color, $text);
  }
}

/* description */
body, body * {
  margin: ($spacing * 0.5) 0;
  padding: $spacing;
  padding-right: 0.5 * $spacing;
  padding-bottom: 1.5 * $spacing;
  padding-left: 0.5 * $spacing;
  box-sizing:border-box;
  font-family: 'Droid Sans Mono', mono;
  font-size: 16px;
  font-weight: normal;
  @include frame();
}

/* tag overrides */
body {
  margin: (0.5 * $spacing) auto;
  padding: 0.5 * $spacing;
  width: 8 * $base-width;
  background-color: $background;
  color: $white;
}
li { list-style:none; }
span { display:inherit;}

/* classes */
.suppress, .suppress_all, .suppress_all * {
  margin:0;
  padding:0;
  border:none;
  h1 {
    font-size:2em;
  }
  h2 {
    font-size:1.5em;
  }
  h3 {
    font-size:1.17em;
  }
}

.frame-description {
  position:absolute;
  margin-top: -($spacing + $border-width);
  margin-left: -((0.5 * $spacing) + $border-width);
  padding: 0.25em 0.5em;
  
  @include rounded();
  span {
    display: inline;
    
    .tag_name {
      font-weight:bold;
    }
  }
}

/* tag colors */
        a { @include no_frame();                }
     body { @include frame($black);             }
       em { @include no_frame();                }
       h1 { @include no_frame($violet, $white); }
       h2 { @include no_frame($violet, $white); }
       h3 { @include no_frame();                }
       h4 { @include no_frame();                }
       h5 { @include no_frame();                }
       h6 { @include no_frame();                }
       li { @include frame($green, $white);     }
        p { @include frame($orange, $white);    }
     span { @include no_frame();                }
   strong { @include no_frame();                }
       ul { @include frame($red, $white);       }

