/* description */
body, body * {
  margin: 16px;
  padding: 16px;
  padding-right: 8px;
  padding-bottom: 32px;
  padding-left: 8px;
  box-sizing: border-box; }

a, abbr, acronym, address, applet, area, b, base, basefont, bdo, big,
blockquote, body, br, button, caption, center, cite, code, col, colgroup, dd,
del, dfn, dir, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr,
i, img, input, ins, kbd, label, legend, li, map, menu, meta, noframes, noscript,
object, ol, optgroup, option, p, param, pre, q, s, samp, select, small, span,
strike, strong, style, sub, sup, table, tbody, td, textarea, tfoot, th, thead,
tr, tt, u, ul {
  display: block;
  border: 4px solid #eeeeee;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  a > .frame-description, abbr > .frame-description, acronym > .frame-description, address > .frame-description, applet > .frame-description, area > .frame-description, b > .frame-description, base > .frame-description, basefont > .frame-description, bdo > .frame-description, big > .frame-description,
  blockquote > .frame-description, body > .frame-description, br > .frame-description, button > .frame-description, caption > .frame-description, center > .frame-description, cite > .frame-description, code > .frame-description, col > .frame-description, colgroup > .frame-description, dd > .frame-description,
  del > .frame-description, dfn > .frame-description, dir > .frame-description, div > .frame-description, dl > .frame-description, dt > .frame-description, em > .frame-description, fieldset > .frame-description, font > .frame-description, form > .frame-description, h1 > .frame-description, h2 > .frame-description, h3 > .frame-description, h4 > .frame-description, h5 > .frame-description, h6 > .frame-description, hr > .frame-description,
  i > .frame-description, img > .frame-description, input > .frame-description, ins > .frame-description, kbd > .frame-description, label > .frame-description, legend > .frame-description, li > .frame-description, map > .frame-description, menu > .frame-description, meta > .frame-description, noframes > .frame-description, noscript > .frame-description,
  object > .frame-description, ol > .frame-description, optgroup > .frame-description, option > .frame-description, p > .frame-description, param > .frame-description, pre > .frame-description, q > .frame-description, s > .frame-description, samp > .frame-description, select > .frame-description, small > .frame-description, span > .frame-description,
  strike > .frame-description, strong > .frame-description, style > .frame-description, sub > .frame-description, sup > .frame-description, table > .frame-description, tbody > .frame-description, td > .frame-description, textarea > .frame-description, tfoot > .frame-description, th > .frame-description, thead > .frame-description,
  tr > .frame-description, tt > .frame-description, u > .frame-description, ul > .frame-description {
    background-color: #eeeeee;
    color: #222222; }

/* tag overrides */
body {
  margin: 16px auto;
  padding-bottom: 16px;
  width: 1024px;
  background-color: #161616;
  font-family: mono; }

li {
  list-style: none; }

span {
  display: inherit; }

/* classes */
.suppress, .suppress_all, .suppress_all * {
  margin: 0;
  padding: 0;
  border: none; }

.frame-description {
  position: absolute;
  margin-top: -20px;
  margin-left: -12px;
  padding: 0.25em 0.5em;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  .frame-description span {
    display: inline; }

/* tag colors */
body {
  border: 4px solid #222222;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  body > .frame-description {
    background-color: #222222;
    color: #222222; }

li {
  border: 4px solid #70b30c;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  li > .frame-description {
    background-color: #70b30c;
    color: #eeeeee; }

p {
  border: 4px solid #f78c00;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  p > .frame-description {
    background-color: #f78c00;
    color: #eeeeee; }

span {
  padding: 0;
  border: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  span > .frame-description {
    margin: 0;
    position: static;
    display: inline;
    background-color: #eeeeee;
    color: #222222; }

ul {
  border: 4px solid #db1a1a;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }
  ul > .frame-description {
    background-color: #db1a1a;
    color: #eeeeee; }
