!!!
%html
  %head
    %title
      Sketch - Visual HTML Scaffolding
    %link{rel: "stylesheet", href: "stylesheets/sketch.css"}
    %script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    %script{type: "text/javascript", src: "javascripts/jquery.tmpl.min.js"}
    %script{type: "text/javascript", src: "javascripts/sketch.js"}

  %body
    %span
    %div
    
    %header
      %h1.title Bob Loblaw's Law Blog
      %h2.subtitle elementum
      %h3 eget viverra
      %h4 integer
      %nav
        %a{href: "https://github.com/noazark/sketch"} github repo
        %a{href: "tags.html"} supported tags

    %section
      %article
        %div.information
          %time.author
            Bob Loblaw
          %time.date
            Saturday, 16 July 2011

        Curabitur porttitor,
        %a{href: "#"} inline link
        ac pretium posuere, neque urna

        %p
          Nulla mattis viverra justo, vitae pellentesque eros lacinia sit amet.
          Nullam nec cursus metus. Duis euismod interdum condimentum. Nullam nec
          dapibus dolor. Ut nec odio eget justo condimentum tincidunt. Donec
          congue aliquet nibh nec rhoncus. Nulla eros risus, ultricies eu
          vehicula et, auctor in justo. Nunc sit amet neque nec massa tristique
          blandit at eget enim. Integer suscipit sollicitudin iaculis. Sed ut
          dolor leo. Mauris iaculis diam vel libero vulputate molestie vitae
          gravida leo. Curabitur fringilla pulvinar libero eget tempor.

        %p
          Aliquam condimentum pulvinar ipsum varius consectetur. Nulla auctor
          massa id lorem interdum eget placerat nulla facilisis. Suspendisse
          potenti. Integer laoreet sagittis nulla, sed pulvinar felis egestas
          ut. Nullam iaculis pulvinar ullamcorper. Vestibulum congue augue sed
          libero fermentum porta sed id eros. Integer diam mauris, pretium a
          sodales sit amet, tempor a risus. Proin congue, velit in tincidunt
          venenatis, eros metus facilisis tortor, ac facilisis sem risus nec
          nisl. Cras tempus velit ut massa semper ac tincidunt arcu laoreet.
          Quisque ultrices orci consectetur arcu pharetra ac adipiscing est
          tristique. Integer sit amet velit in erat facilisis tempor. Vestibulum
          ut arcu a enim commodo eleifend ac tincidunt lorem. Phasellus lobortis
          faucibus tempus. Ut velit orci, varius vitae scelerisque ac, feugiat
          in sem.

    %footer
      %ul
        %li
          %a{href: "#1", alt: "list link 1"}
            link 1
        %li
          %a{href: "#2", alt: "list link 2"}
            link 2
        %li
          %a{href: "#3", alt: "list link 3"}
            link 3
