!!!
%html
  %head
    %title
      Sketch - Visual HTML Scaffolding
    %link{rel: "stylesheet", href: "stylesheets/sketch.css"}
    %script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    %script{type: "text/javascript", src: "javascripts/jquery.tmpl.min.js"}
    %script{type: "text/javascript", src: "javascripts/sketch.js"}

  %body
    %ul
      %li.menu_item
        %span#created_at
        %span#title
        %p
        %span#credits
