!!!
%html
  %head
    %title
      Sketch - Visual HTML Scaffolding
    %link{rel: "stylesheet", href: "stylesheets/sketch.css"}
    %script{type: "text/javascript", src: "https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    %script{type: "text/javascript", src: "javascripts/jquery.tmpl.min.js"}
    %script{type: "text/javascript", src: "javascripts/sketch.js"}

  %body
    %header.suppress_all
      %h1 Sketch
      %h2 by Noah H. Smith

    %ul
      %li.menu_item
        %span#created_at
          Saturday, 16 July 2011

        %span#title
          Sketch

        %span#author
          Noah H. Smith

        %p.intro
          Sketch is a visual scaffolding framework for HTML.
          It was developed as an communication aid between developers and
          designers.

        %p
          Everyone makes these sketches on paper, but I wanted to flesh out my
          ideas quickly and easily in code.

        %p
          Although sass and haml aren't for everyone, it keeps typing to a
          minumum, and for that, I use it.

        %span#credit
          Bret Bourquin for striking the idea in my head.

        %span#credit
          %a.suppress{href: "https://github.com/alexaivars"} @alexaivars
          for the Rakefile, which has saved me a ton
          of time!
